@use "../../mixins" as *;
@use "../../presets" as *;

.header-logo {
  // копируем из фотопия, переводим в ремы и ем
  // font-size: 24px;
  // letter-spacing: 6px;
  font-size: 1.5rem;
  letter-spacing: 0.22em;

  // line-height: 20px; не нужен, т.к. не двутсрочного текста
  // остальное наследуется
  //  color: #ffffff;
  // font-weight: 400;
  // font-family: "Roboto";
  // text-align: center;

  &__link {
    display: block;
    padding: $gap $gap $gap 0;
  }

  &__accent {
    display: inline-block;
    padding: 14px 1px 13px 5px;
    margin-right: 4px;
    border: 3px solid $color-highlight;
  }
}