.header-navbar {
  &__list {

    // TODO: переделать на гриды и показать разницу
    display: grid;
    // отправляем менюшку вправо
    justify-content: end;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-x2;

    // list-style: none;
    // margin: 0;
    // padding: 0;
    // вместо этого миксин
    @include unlist;
  }
}