@use "../../mixins" as *;
@use "../../presets" as *;

.header-content {
  position: relative;
  z-index: 1;

  &__container {
    // если так оставить то код продублируется везде где есть контейнер
    // width: min(100% - $gap-x2, $container);
    // margin-inline: auto;
    //
    // вместо єтого делает єкстенд
    @extend %container;
  }

  &__title {
    // перенесли  margin: 0 0 53px; в медиазапросы
    text-align: center;
  }

  &__actions {
    display: flex;
    gap: $gap;
    justify-content: center;

  }
}
