.btn {
  // свойства копируем из фотопиа,
  // но именно этот опасити относится не кнопке, а к ее фону
  // opacity: 0.1;

  // ширина высота просто так не работают, пока это строчный элемент
  // добавляем блок
  display: flex;
  align-items: center;
  justify-content: center;
  
  min-width: 250px;
  min-height: 60px;
  // чтобы контент кнопок никогда не прижался к бордюру ставим паддинги
  padding: 0.5em 1em;

  // в хедер-контенте добавляем экешнсы дисплей флекc
  // &__actions{
  //   display: flex;
  // }


  // переносим опассити в цвет
  background-color: rgba($color-white, 0.1);
  border: 2px solid $color-white;

  &__light{
}
}