@use "../presets" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
  overflow: scroll;
}

body {
  color: $color-gray;
  background-color: $color-white;
}

h1 {
  // пиксели переписать на рем
  /* 60px;*/
  // font-size: 3.75rem;
  // а потом font-size перенести в медиа-запросы
  letter-spacing: 0.078em;
  /*5px;*/
  // дополнительно задать line-height
  line-height: 1.2em;
  font-weight: 300;
  font-family: $font-header;
}

h2 {
  font-family: $font-header;
}

// h3{
// }
a {
  text-decoration: none;
  color: $color-white;
}
